<div class="fondo-negro animated fadeIn" [ngClass]="modalUploadService.oculto">
        
        <div style="display:block" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Subir Imagen</h5>
                      <button type="button" class="close" (click)="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" align="center">

                        <img *ngIf="!imagenTemp" [src]="'xxx' | imagen" class="w150 mb-1">
                        <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150 ml-1 mb-1">
                        <input type="file" (change)="seleccionImagen($event.target.files[0])">
                    </div>
              
                      <div class="modal-footer">
                            <button type="button" [disabled]="!imagenSubir" class="btn btn-primary" data-dismiss="modal" (click)="subirImagen()">Subir Imagen</button><!-- addUserModal.hide();-->
                            <button type="button" data-dismiss="modal" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
                      </div>
                    </div>
                </div>
        </div>
</div>


      
