<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-title">{{graficos.grafico1.leyenda}}</div>
            <div class="card-body">
                <app-doughnut [grafico]="graficos.grafico1"></app-doughnut>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-title">{{graficos.grafico2.leyenda}}</div>
            <div class="card-body">
                <app-doughnut [grafico]="graficos.grafico2"></app-doughnut>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-6">
        <div class="card">
                <div class="card-title">{{graficos.grafico3.leyenda}}</div>
            <div class="card-body">
                <app-doughnut [grafico]="graficos.grafico3"></app-doughnut>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
                <div class="card-title">{{graficos.grafico4.leyenda}}</div>
            <div class="card-body">
                <app-doughnut [grafico]="graficos.grafico4"></app-doughnut>
            </div>
        </div>
    </div>
</div>

